<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "avatar.png" %>
	</div>

	<div id="content">
		<h1>Hello, I am John Moua</h1>
		<p>This is my life planner</p>
		<p>I have my goals listed</p>
		<p>Each day I will log the things I did towards that goal</a>.</p>
	</div>
</div>
